.aside {
    background-color: var(--orange_dark);
    background-image: url(../images/Hexagon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside__wrapper {
    max-width: 120rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline:2rem;
    gap: 1.2rem;
    margin-block-end: 3.4rem;
}

.aside__title {
    font-family: var(--ff-secundary);
    font-size: var(--fs-x-large);
    margin-block: 4rem;
    color: white;
}

.aside__description {
    max-width: 50rem;
    width: 100%;
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 2rem;
    border-radius: .5rem;
}

.button--cta {
    width: 20rem;
    height: 7rem;
    font-size: calc(var(--fs-body) + .5rem);
    background-color: transparent;
    color: white;
    border-color: white;
    transition: .5s ease;
}

.button--cta:hover {
    color: #ff8c18;
    background-color: white;
}