.curso {
    width: 100%;
    height: 10rem;
}

.curso__card {
    border-radius: .5rem;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: relative;
    transition: ease 1s all;
}

.curso:nth-child(1) .curso__card {
    background-color: var(--blue_soft);
}

.curso:nth-child(2) .curso__card {
    background-color: var(--purple_light);
}
.curso:nth-child(3) .curso__card {
    background-color: var(--pink_soft);
}

.curso:nth-child(4) .curso__card {
    background-color: var(--orange_light);
}

.curso:nth-child(5) .curso__card {
    background-color: var(--green_aqua);
}

.curso:nth-child(6) .curso__card {
    background-color: var(--pink_intense-light);
}

.curso:nth-child(7) .curso__card {
    background-color: var(--red);
}

.curso:nth-child(8) .curso__card {
    background-color: var(--green);
}

.curso__figure {
    width: 10rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curso__img {
    width: 70%;
    object-fit: cover;
}

.curso__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--fs-body);
    margin-inline-start: 2rem;
}