.cursos {
    display: flex;
    justify-content: center;
    
}

.cursos__wrapper {
    max-width: 120rem;
    width: 100%;
}

.section__title {
    font-size: var(--fs-medium);
    font-family: var(--ff-secundary);
    margin-block: 4rem 2rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.section__title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10rem;
    height: .5rem;
    background:#000;
    left: calc(50% - 5rem);
    top: calc(-2rem - -.25rem);
}

.section__description {
    font-size: var(--fs-body);
    text-align: center;
}

.cursos__container {
    position: relative;
    margin-block: 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-template-rows: auto;
    place-items: stretch;
    gap: 2rem;
}