.curso:hover .curso__card {
    z-index: 1;
    width: 45rem;
    height: 30rem;
    transition: ease 1s all;
}

.curso:nth-child(1):hover .curso__card {
    transform: translate(83%, 6%);
}

.curso:nth-child(2):hover .curso__card{
    transform: translate(-6%, 6%);
}

.curso:nth-child(3):hover .curso__card {
    transform: translate(-97%, 6%);
}

.curso:nth-child(4):hover .curso__card {
    transform: translate(83%, -30%);
}

.curso:nth-child(5):hover .curso__card {
    transform: translate(-6%, -30%);
}

.curso:nth-child(6):hover .curso__card {
    transform: translate(-97%, -30%);
}

.curso:nth-child(7):hover .curso__card {
    transform: translate(83%, -73%);
}

.curso:nth-child(8):hover .curso__card {
    transform: translate(-6%, -73%);
}