.footer {
    background-color: var(--orange_dark);
    background-image: url(../images/Hexagon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__wrapper {
    max-width: 120rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
}

.footer__icons {
    display: flex;
    padding: 2.4rem;
    justify-content: space-evenly;
    gap: 2rem;
}

.icon {
    display: block;
    font-size: var(--fs-x-large);
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999rem;
}

.footer__icons .icon:nth-child(1){
    background-image: url(../assets/icons/001-facebook.png);
}

.footer__icons .icon:nth-child(2) {
    background-image: url(../assets/icons/001-youtube.png);
}

.footer__icons .icon:nth-child(3) {
    background-image: url(../assets/icons/002-messenger.png);
}

.footer__icons .icon:nth-child(4) {
    background-image: url(../assets/icons/003-whatsapp.png);
}

.footer__quotes {
    width: clamp(30rem, 50%, 70%);
    align-self: center;
    text-align: center;
    font-size: var(--fs-body);
    line-height: 2.8rem;
    margin-block-start: 2.4rem;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: .5rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    min-height: 10rem;
}

b#nameAutor {
    display: inline-block;
    margin-block-start: 3rem;
    text-transform: uppercase;
    text-align: end;
}

.logo.logo--footer {
    width: 23rem;
    height: 20rem;
    align-self: center;
    object-fit: cover;
}

.logo.logo--footer .img-logo {
    width: 100%;
    height: 100%;
}

.footer__contact {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.footer__contact a {
    display: flex;
    align-items: center;
    font-size: calc(var(--fs-body) - .5rem);
    color: white;
    font-weight: var(--fw-bold);
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
}

.footer__contact .icon.icon--small {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-indent: 0;
}

.footer__contact a:nth-child(1) .icon,
.footer__contact a:nth-child(3) .icon {
    background-image: url(../assets/icons/telephone-call.png);
}

.footer__contact a:nth-child(2) .icon {
    background-image: url(../assets/icons/email.png);
}

@media (max-width:550px) {
    .footer__contact a {
        text-indent: -999rem;
    }

    .footer__contact .icon.icon--small {
        width: 2.5rem;
        height: 2.5rem;
    }
}