.header {
    /* CHANGE */
    background: url(../images/background_texture.svg);
    /* background-attachment: fixed; */
    background-size: cover;
}

.nav{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-block-end: 4rem;
}

.nav__wrapper {
    /* CHANGE */
    max-width: 120rem;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo__image {
    width: 10rem;
    height: 100%;
}

.nav__ul {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.nav__item {
    list-style: none;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.nav__item::before {
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-size: cover;
    position: relative;
    left: 1.2rem;
}
.nav__item:nth-child(1):before {
    background-image: url(../assets/icons/casa.png);
}
.nav__item:nth-child(2):before {
    background-image: url(../assets/icons/group.png);
}
.nav__item:nth-child(3):before {
    background-image: url(../assets/icons/teach.png);
}
.nav__item:nth-child(4):before {
    background-image: url(../assets/icons/news.png);
}
.nav__item:nth-child(5):before {
    background-image: url(../assets/icons/customer-service.png);
}

.nav__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 3rem;
    position: absolute;
    bottom: 25%;
    right: 100%;
    transition: .5s ease all;
}
.nav__item:hover.nav__item::after {
    transform: translateX(100%);
}

.link {
    /* CHANGE */
    color: inherit;

    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    font-size: var(--fs-body);
    transition: .3s ease all;
    text-decoration: none;
    font-weight: var(--fw-light);
    text-align: center;

    /* width: 100%; */
    /* height: 100%; */
    padding: 2.4rem 1.6rem;
}

.nav__buttons {
    font-size: var(--fs-button);
    display: flex;
    align-items: center;
}

.button {
    /* CHANGE */
    border: 3px solid #000;
    color: #000;

    padding-block: 1.2rem;
    padding-inline: 2rem ;
    margin-inline: .8rem;
    border-radius: .5rem;
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.button--invert {
    /* CHANGE */
    color: #bea23d;
    background-color: #000;
}

.burger {
    display: none;
    flex-direction: column;
    width: 2.8rem;
    height: 2.4rem;
    justify-content: space-between;
    cursor: pointer;
}

.burger__line {
    display: block;
    width: 2.8rem;
    height: .3rem;
    background-color: #000;

}

@media (max-width: 1000px) {
    .nav__item::before {
        display: none;
    }
    .button--invert {
        color: #84ac48;
    }
}

@media (max-width: 851px){
    .logo {
        grid-column: 2;
    }
    .burger {
        display: flex;
        align-self: center;
    }
    .nav__ul,.nav__buttons {
        display: none;
    }
}