.opiniones {
    display: flex;
    justify-content: center;
}

.opiniones__wrapper {
    max-width: 120rem;
    width: 100%;
    padding-inline: 2rem;
}

.opiniones__content {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
    grid-template-rows: auto;
    gap: 2rem;
    margin-block-start: 4rem;
}