.propuestas {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding-block: 8rem;
}

.section__title.section__title--propuestas {
    min-width: 100%;
}

.propuestas__wrapper {
    max-width: 120rem;
    width: 100%;
    padding-inline: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.propuestas__section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.propuestas__figure {
    width: 100%;
}

.propuestas__video {
    width: 100%;
    border: none;
    aspect-ratio: 16/9;
}

.propuestas__lista {
    width: 100%;
}

.propuesta__title {
    font-family: var(--ff-secundary);
    font-size: var(--fs-body);
    text-transform: uppercase;
}

.propuestas__text {
    font-size: var(--fs-body);
    margin-block: .4rem 2.4rem;

}

.propuestas__text a {
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--orange_dark);
}

.propuestas__text a:hover {
    text-decoration: underline var(--orange_dark);
}