:root {

    /* COLORES */
    --blue_dark: #0045a8;
    --blue_soft: #2081c1;
    --blue_light: #3670da;
    --blue_gray: #0885cf;
    --blue_animate: #4d96ff;
    --blue_aqua: #52b9ba;

    --purple_dark: #865ae1;
    --purple_light: #9a69ff;
    --purple_soft: #a462ff;

    --white: #fff;

    --pink: #d262ce;
    --pink_gray: #bc62b9;
    --pink_soft: #ea46e3;
    --pink_intense: #f20974;
    --pink_intense-light: #ec0a7a;
    --pink_red: #ff345f;

    --orange_dark: #ff8c18;
    --orange: #ffab00;
    --orange_light: #f3b31e;
    
    --red: #bb0923;

    --green: #239f01;
    --green_light: #4fa750;
    --green_soft: #62c260;
    --green_aqua: #00c262; 

    /* TIPOGRAFIAS */
    --ff-principal: "Poppins", sans-serif;
    --ff-secundary: 'Rowdies', cursive;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-x-large: 4.2rem;
    --fs-medium: 2.6rem;
    --fs-body: 1.4rem;
    --fs-button: var(--fs-body);
}